i, .is-clickable {
    cursor: pointer;
}

@media screen and (max-width: 645px) {
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .media {
        display: inline
    }
    .media-left {
        margin-bottom: 20px
    }
}

.collapsible {
    display: none;
}

.collapsible-active {
    display: block;
}

.text-collapsible {
    height: 97px;
    overflow: hidden;
}

.text-collapsible-active {
    height: 100%;
    overflow: hidden;
}

.hide-file-input {
    visibility: hidden;
}

.bold-border {
    border: 2px solid;
}

@media screen and (max-width: 1023px) {
    .columns {
        margin-right: 5px !important;
        margin-left: 5px !important;
    }
}

.page-leave-to {
    opacity: 0;
    transition: 1s;
}

.page-enter-active {
    transition: opacity 1s;
}

.page-enter {
    opacity: 0;
}