.is-clickable {
    cursor: pointer;
}

@media screen and (max-width: 645px) {
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .media {
        display: inline
    }
    .media-left {
        margin-bottom: 20px
    }
}

.collapsible {
    display: none;
}

.collapsible-active {
    display: block;
}

.text-collapsible {
    height: 97px;
    overflow: hidden;
}

.text-collapsible-active {
    height: 100%;
    overflow: hidden;
}