.is-clickable {
    cursor: pointer;
}

@media screen and (max-width: 645px) {
    .media {
        display: inline
    }
    .media-left {
        margin-bottom: 20px
    }
}

.collapsible {
    display: none;
}

.collapsible-active {
    display: block;
}